.joly-text{
    font-family: "joly-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:34px;
    }
    body{
      align-items: center;
text-align: center;
    }
    .ivystyle-tw{
    font-family: "ivystyle-tw", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    }
    .estro-mn{
    font-family: "estro-mn", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    }
    .hu__hu__ { animation: hu__hu__ infinite 5s ease-in-out }
@keyframes hu__hu__ {
    50% { transform: translateY(30px) }
}
.row{
   opacity:0.9;
}
div.cssanimation{
color:rgb(250, 250, 255);
text-align: center;
font-size: 90px;
margin-top:260px;
font-family: "goodlife-brush", sans-serif;
font-weight: 400;
font-style: normal;
text-shadow: 8px 8px rgb(19, 9, 107);
}
    .red{
       background-image: url(ro.jpg);
       background-size: cover;
    }

    .card{
      background-color: rgb(190, 211, 211);
      height:500px;
      width:300px;
      display:flex;
      flex-direction: column;
      margin-bottom: 25px;
      justify-content: space-between;

      }
      .col-md-3{
         display:flex;
         justify-content: center;
      }

    .navbar-toggler{
      background-color: rgb(152, 193, 255);
    }
   
 .navbar-brand{
   font-size: 22px;
   font-family: "joly-text", sans-serif;
   font-weight: 400;
   font-style: normal;
   color:black;
   

 }

    .nav-link {
    font-size: 22px;
    font-family: "joly-text", sans-serif;
    font-weight: 400;
    color:black;
    font-style: normal;

    }
    p{
       color:black;
    font-size: 22px;
    font-family: "joly-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    .nicholas{
    font-family: "nicholas", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:25px;
    color:black;
    }
    .flg{
    width:100px;
    }
    .dropdown-item{
    font-family: "joly-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:17px;
    }
    .footer{
       background-color:rgb(180, 250, 250);
    }
    .card-img-top{
       height:100px;
    }
    .body{
      background-color: rgb(231, 216, 216);
    }
.carousel-control-prev-icon{
   background-color: black;
}
.carousel-control-next-icon{
   background-color:black;
}
.carousel-control-next{
   background-color: transparent;
}
.carousel-control-prev{
   background-color: transparent;
}
.carousel{
   background-image: url(ro.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.card-text{
   font-size: 16px;
}
.bod{
   
   background-repeat: no-repeat;
   background-position: center 30%;
   background-size: contain;
   background-attachment: fixed;
   font-family: "joly-text", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size:34px;
   margin:0;
   height:140vh;
   width:100%;
}



/*start*/
.overlay-container {
   position: relative;
   
   height:800px; /* Adjust the height as needed */
   background-image: url(true.jpg);
   background-size: cover;
   background-position: center;
 }
 
 .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); 
 }
 
 .content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: white;
   font-size: 2rem;
   width:1000px;
 }
 h2{
   color:white;
   font-size:40px;
   margin-top:10px;
 }

 .effect3d {
   animation: effect3d 3s infinite; /* Add the duration (3s) and the type of animation (infinite loop) */
 }
 
 @keyframes effect3d {
   0% {
     text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
   }
   100% {
     text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
   }
 }
 



div.fit{
  padding:10px;
  width:100%;
  height:100px;
  

}
h6{
  font-size:30px;
  border:black;
  background-color: rgb(100, 100, 223);

  margin:30px;

}
h2{
  color:black;
  font-size:30px;
  margin:30px;
}